name: Linting and Tests

on:
    pull_request:
        branches: [main, release/*]
        paths-ignore:
            - "**/*.md"
            - "*.md"
            - "**/*.json"
    push:
        branches: [main]

jobs:
    laravel-tests:
        runs-on: ubuntu-latest

        strategy:
            matrix:
                php: ['8.0', '8.1']
                composer_flags: ['', '--prefer-lowest']

        steps:
            - uses: actions/checkout@v2
            - uses: shivammathur/setup-php@v2
              with:
                  php-version: ${{ matrix.php }}
            - name: Copy .env.testing
              run: php -r "file_exists('.env.testing') || copy('.env.testing.example', '.env.testing');"
            - name: Set Nova credentials
              run: echo '${{ secrets.NOVA_4_CREDENTIALS }}' > auth.json
            - name: Install Dependencies
              run: composer update --no-interaction --prefer-source ${{ matrix.composer_flags }}
            - name: Execute tests (Unit and Feature tests) via PHPUnit
              run: ./vendor/bin/phpunit
    lint:
        runs-on: ubuntu-latest

        steps:
            -   uses: actions/checkout@v2
            -   uses: shivammathur/setup-php@v2
                with:
                    php-version: "8.1"
            -   name: Copy .env.testing
                run: php -r "file_exists('.env.testing') || copy('.env.testing.example', '.env.testing');"
            -   name: Set Nova credentials
                run: echo '${{ secrets.NOVA_4_CREDENTIALS }}' > auth.json
            -   name: Install Dependencies
                run: composer update --no-interaction --prefer-source
            -   name: Execute tests (Unit and Feature tests) via PHPUnit
                run: ./vendor/bin/php-cs-fixer fix --dry-run
